.radial {
  position: absolute;
  inset: 0;

  background: radial-gradient(
    ellipse 50% 40% at 20% 20%,
    rgba(255, 255, 255, 0.15),
    /* frosted white */ rgba(255, 255, 255, 0) /* fade out */
  );
  backdrop-filter: blur(20px); /* Frosted effect */
  -webkit-backdrop-filter: blur(20px); /* Safari support */
}
